		<div class="popup-header">
			<h3>Регистрация заемщика</h3>
			<div ui-view="tabsasd"></div>
			<div>gdgdfgdfgdfgdfgdgd</div>
		</div>
		<div class="form-wrapper">
			<div class="img">
				<img src="images/fc-logo.png" alt="">
			</div>
			<h2 class="text-center">Поздравляем</h2>
			<p class="text-center underh">Вы вступили в FinClub</p>
			<p class="notice text-center">Мы отправили на Вашу почту письмо со ссылкой по которой Вы можете активировать аккаунт.</p>
			<h4 class="text-center">Предлагаем Вам</h4>
			<p class="notice text-center">ознакомиться с <a href="">демо-версией</a> системы</p>
			<p class="notice text-center">или продолжить <a href="">регистрацию</a></p>
			<div class="btn-wrapper center">
				<md-button class="main-btn ok-btn">ok</md-button>
			</div>
		</div>
		<a href="" class="my-close" ng-click="cancel()">
			<div class="left-border"></div>
			<div class="right-border"></div>
		</a>