		<div class="popup-header">
			<h3 class="text-left ib">Настройка профиля</h3><span class="ib">Шаг 7 из 7</span>
		</div>
		<div class="form-wrapper">
			<div class="m-col-6 m-mar-col-3">
				<div class="greetings">
					<h2>Поздравляем</h2>
					<p>теперь вы можете быстро и удобно брать кредит в нашей системе</p>	
				</div>	
			</div>
			<div class="m-col-12">
				<p class="notice mb"><span>* Все поля обязательны для заполнения. </span>Ваши личные данные будут надежно храниться на серверах Мальты и Монако в зашифрованом виде и не будут передаваться третьим лицам. Вся предотавленная информаци необходима для проверки кредитной истории и платежеспособности.</p>
			</div>
			
			<form name="projectForm3">
				<div class="m-col-10 m-mar-col-1">
		        	<div layout="row">
				        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="user.rssFin" class="md-primary" flex="50">
				          Подписаться на рассылку от FinClub
				        </md-checkbox>
				        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="user.yepFin" class="md-primary" flex="50">
				         Ознакомлен и согласен с правилами FinClub
				        </md-checkbox>
		        	</div>
				</div>
				<div class="grow">
					<div class="btn-wrapper center">
						<md-button class="main-btn ok-btn">ok</md-button>
					</div>					
				</div>
		    </form>
		</div>
		<a href="" class="my-close" ng-click="cancel()">
			<div class="left-border"></div>
			<div class="right-border"></div>
		</a>