
        <h3>Запросы</h3>
        <div class="grow">
            <div class="m-col-4">
                <div class="message-tabs">
                  <a href="" class="message-tab" ng-class="{active:intab.active}" ng-repeat="intab in intabs" ng-click="go(intab.routeTo) || go(intab.route)">
                    <div class="message-tab-wrapper">
                      <div class="message-icon green" ng-class="intab.class">
                        <!--<div class="message-new-attr">3</div>-->
                      </div>
                      <div class="message-tab-text">
                        <h4>{{intab.heading}}</h4>
                        <p class="message-tab-description">Чаты с кредиторами по запросам, система торгов</p>
                      </div>
                    </div>
                    <div class="message-active-arrow icon-arrow-right2"></div>
                  </a>
                </div>
            </div>
            <div class="m-col-8">
                <div class="messages-container" ui-view="bargains">

                    <!------------------------------ Inbox Messages -------------------------->

                </div>

                <!------------------------------ Outbox Messages -------------------------->

                <!--<div ng-if="tabMess == 'outbox'" ng-controller="outboxMessages">
                    <div class="spinner"ng-show="messagesSpinner"><md-progress-circular md-mode="indeterminate" md-diameter="90" ></md-progress-circular></div>
                    <h3 class="uppercase">Исходящие запросы</h3>
                    <div class="message-container" ng-class="{'opened': $index == insteadOutboxMessIsOpened}" ng-repeat="outboxMessage in outboxMessages">
                        <div class="message-header">
                            <div class="photo-rait">
                                <div class="photo" style="background-color: #fff">
                                    <div class="photo-empty fa fa-user"></div>
                                </div>
                                <div class="rait">
                                    <uib-rating ng-model="rate" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
                                    <span class="dig">78/100</span>
                                </div>
                            </div>
                            <div class="money">
                                <div class="icon icon-q6"></div>
                                <div class="digit" ng-if="outboxMessage.minSum != outboxMessage.maxSum">{{outboxMessage.minSum | number : 0}}-{{outboxMessage.maxSum | number : 0}}<br><span>USD</span></div>
                                <div class="digit" ng-if="outboxMessage.minSum === outboxMessage.maxSum">{{outboxMessage.minSum | number : 0}}<br><span>USD</span></div>
                            </div>
                            <div class="time">
                                <div class="icon icon-q8"></div>
                                <div class="digit">{{outboxMessage.term}}<br><span> месяца</span></div>
                            </div>
                            <div class="percent">
                                <div class="icon icon-q9"></div>
                                <div class="digit" ng-if="outboxMessage.minPercent != outboxMessage.maxPercent">{{outboxMessage.minPercent}}-{{outboxMessage.maxPercent}}<br><span>% годовых</span></div>
                                <div class="digit" ng-if="outboxMessage.minPercent === outboxMessage.maxPercent">{{outboxMessage.minPercent}}<br><span>% годовых</span></div>
                            </div>
                            <div class="time-message">
                                <div class="icon icon-q8"></div>
                                <div class="digit">{{outboxMessage.createDate}}</div>
                            </div>
                            <div class="group-btns">
                                <a href="" class="fst"></a>
                                <a href="" class="scd"></a>
                                <a href="" class="thd"></a>
                                <a href="" class="frth"></a>
                            </div>
                        </div>
                        <div class="message-body">
                            <div ng-if="$index == insteadOutboxMessIsOpened">
                                <div class="spinner" ng-show="insteadMessagesSpinner"><md-progress-circular md-mode="indeterminate" md-diameter="90" ></md-progress-circular></div>
                                <div class="bargain-block" ng-class="{'me' : userId === bargainOutbox.user_id}" ng-repeat="bargainOutbox in insteadMessOutbox">
                                    <div class="bargain-wrapper">
                                        <div class="bargain-man-info">
                                            <div class="photo" style="background-color: #fff">
                                                <div class="photo-empty fa fa-user"></div>
                                            </div>
                                            <div class="info">
                                                <p class="name" ng-if="userId != bargainOutbox.user_id">Ваcя пупкин</p>
                                                <p class="name" ng-if="userId === bargainOutbox.user_id">Вы</p>
                                                <p class="time">{{bargainOutbox.createDate}}</p>
                                            </div>
                                        </div>
                                        <div class="bargain-body">
                                            <h5 ng-if="userId != bargainOutbox.user_id">Предлагает Вам</h5><h5 ng-if="userId === bargainOutbox.user_id">Предлагает Вы</h5>
                                            <div class="flex">
                                                <div class="money">
                                                    <div class="icon icon-q6"></div>
                                                    <div class="digit">{{bargainOutbox.body.sum}}<span>USD</span></div>
                                                </div>
                                                <div class="time">
                                                    <div class="icon icon-q8"></div>
                                                    <div class="digit">{{bargainOutbox.body.term}}<span ng-if="bargainOutbox.body.termType === 'M'"> месяца</span><span ng-if="bargainOutbox.body.termType === 'D'"> дней</span></div>
                                                </div>
                                                <div class="percent">
                                                    <div class="icon icon-q9"></div>
                                                    <div class="digit">{{bargainOutbox.body.percent}} %<span> годовых</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btns" ng-if="userId != bargainOutbox.user_id && $last && statusDataOutbox.status === 'opened'">
                                        <div>
                                            <a href="" class="success" aria-label="Подтвердить" ng-click="createMes(bargainOutbox, $parent.$parent.$index)">
                                                <md-tooltip md-direction="top" md-delay="100">
                                                    Подтвердить
                                                </md-tooltip>
                                            </a>
                                            <a href="" class="bargain" aria-label="Торг" ng-click="startBargain(outboxMessage)" ng-if="outboxMessage.minSum != outboxMessage.maxSum || outboxMessage.minPercent != outboxMessage.maxPercent">
                                                <md-tooltip md-direction="top" md-delay="100">
                                                    Торг
                                                </md-tooltip>
                                            </a>
                                            <a href="" class="cancel" aria-label="Отменить" ng-click="rejectMes(outboxMessage, $parent.$parent.$index)">
                                                <md-tooltip md-direction="top" md-delay="100">
                                                    Отменить
                                                </md-tooltip>
                                            </a>
                                            <a href="" class="calculate" ng-click="openCalculator(bargainOutbox.body)">Рассчитать</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="bargain-block me" ng-if="appendBargain">
                                    <div class="bargain-wrapper">
                                        <div class="bargain-man-info">
                                            <div class="photo" style="background-color: #fff">
                                                <div class="photo-empty fa fa-user"></div>
                                            </div>
                                            <div class="info">
                                                <p class="name" ng-if="userId != bargainOutbox.user_id">Ваcя пупкин</p>
                                                <p class="name" ng-if="userId === bargainOutbox.user_id">Вы</p>
                                                <p class="time">{{bargainOutbox.createDate}}</p>
                                            </div>
                                        </div>
                                        <div class="bargain-body">
                                            <h5 ng-if="userId != bargainOutbox.user_id">Предлагает Вам</h5><h5 ng-if="userId === bargainOutbox.user_id">Предлагаете Вы</h5>
                                            <div class="flex">
                                                <form action="">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Сумма ()</label>
                                                        <input ng-model="newBargainData.sum" type="number">
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Срок (<span ng-if="newBargainData.termType === 'M'">месяца</span><span ng-if="newBargainData.termType === 'D'">дней</span>)</label>
                                                        <input ng-model="newBargainData.term" type="number">
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>Процент (%)</label>
                                                        <input ng-model="newBargainData.percent" type="number">
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <md-button ng-click="sendNewbargain()">Отправить</md-button>
                                                    </md-input-container>
                                                </form>
                                            </div>
                                            {{bargainErrors}}
                                        </div>
                                    </div>
                                </div>


                                <div class="bargain-block center" ng-if="appendRejectMes || statusDataOutbox.status != 'opened'">
                                    <div class="bargain-wrapper">
                                        <div class="bargain-body" ng-if="statusDataOutbox.status === 'opened' && appendRejectMes">
                                            <h5>Оу! A чейта ты отказался: </h5>
                                            <div class="flex">
                                                <form action="" name="rejectForm">
                                                    <md-input-container flex-gt-sm>
                                                        <label>Причина</label>
                                                        <md-select ng-model="rejectMesData.message" required>
                                                            <md-option value="{{rejectMessage}}" ng-repeat="rejectMessage in rejectMessages">
                                                                {{rejectMessage}}
                                                            </md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <md-button ng-click="sendRejectMes()" ng-disabled="rejectForm.$invalid">Отправить</md-button>
                                                    </md-input-container>
                                                </form>
                                            </div>
                                            {{bargainErrors}}
                                        </div>
                                        <div class="bargain-body bargain-body-error" ng-if="statusDataOutbox.status === 'rejected'">
                                            <h4>Отказочка!</h4>
                                            <p>По причине: {{outboxMessage.rejectedMessage}}</p>
                                        </div>
                                        <div class="bargain-body bargain-body-success" ng-if="statusDataOutbox.status === 'finished'">
                                            <h4>Саксесс!</h4>
                                            <div  layout="row">
                                                <div flex-gt-sm>
                                                    <p>Сумма (<span ng-if="finalOutboxData.currency === 1">UAH</span><span ng-if="finalOutboxData.currency === 2">USD</span>)</p>
                                                    <p>{{finalOutboxData.sum}}</p>
                                                </div>
                                                <div flex-gt-sm>
                                                    <p>Срок (<span ng-if="finalOutboxData.termType === 'M'">месяца</span><span ng-if="finalOutboxData.termType === 'D'">дней</span>)</p>
                                                    <p>{{finalOutboxData.term}}</p>
                                                </div>
                                                <div flex-gt-sm>
                                                    <p>Процент (%)</p>
                                                    <p>{{finalOutboxData.percent}}</p>
                                                </div>
                                            </div>
                                            <div layout="row" layout-align="center center">
                                                <md-button class="md-raised md-primary" ng-click="openModalOrderCreate(finalOutboxData)" ng-if="comissBorrowStatus || comissCreditStatus">Оплатить</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="message-quantity">{{outboxMessage.count}}<div class="message-new" ng-if="outboxMessage.countNew != 0">{{outboxMessage.countNew}}</div></a>
                        <a href="" class="message-trigger" ng-click="getInsteadOutboxMessages($index, outboxMessage.id)"></a>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
