<div ng-switch on="currentStep">
	<div ng-switch-when="1">
		<a href="" class="next arrow" ng-click="next()"> > </a>
		<div class="popup-header">
			<h3>Регистрация заемщика</h3>
		</div>
		<div class="form-wrapper">
			<div class="img">
				<img src="images/fc-logo.png" alt="">
			</div>
			<h2 class="text-center">Поздравляем</h2>
			<p class="text-center underh">Вы вступили в FinClub</p>
			<p class="notice text-center">Мы отправили на Вашу почту письмо со ссылкой по которой Вы можете активировать аккаунт.</p>
			<h4 class="text-center">Предлагаем Вам</h4>
			<p class="notice text-center">ознакомиться с <a href="">демо-версией</a> системы</p>
			<p class="notice text-center">или продолжить <a href="">регистрацию</a></p>
			<div class="btn-wrapper center">
				<md-button class="main-btn ok-btn" ng-click="ok()">ok</md-button>
			</div>
		</div>
	</div>
	<div ng-switch-when="2">
		<a href="" class="next arrow" ng-click="next()"> > </a>
		<a href="" class="prev arrow" ng-click="prev()"> < </a>
		<div class="popup-header">
			<h3>Регистрация заемщика</h3>
		</div>
		<div class="form-wrapper">
			<div class="img">
				<img src="images/fc-logo.png" alt="">
			</div>
			<h2 class="text-center">Поздравляем</h2>
			<p class="text-center underh">Вы вступили в FinClub</p>
			<p class="notice text-center">Мы отправили на Вашу почту письмо со ссылкой по которой Вы можете активировать аккаунт.</p>
			<h4 class="text-center">Предлагаем Вам</h4>
			<p class="notice text-center">ознакомиться с <a href="">демо-версией</a> системы</p>
			<p class="notice text-center">или продолжить <a href="">регистрацию</a></p>
			<div class="btn-wrapper center">
				<md-button class="main-btn ok-btn" ng-click="ok()">ok</md-button>
			</div>
		</div>
	</div>
	<div ng-switch-when="3">
		<a href="" class="prev arrow" ng-click="prev()"> < </a>
		<div class="popup-header">
			<h3>Регистрация заемщика</h3>
		</div>
		<div class="form-wrapper">
			<div class="img">
				<img src="images/fc-logo.png" alt="">
			</div>
			<h2 class="text-center">Поздравляем</h2>
			<p class="text-center underh">Вы вступили в FinClub</p>
			<p class="notice text-center">Мы отправили на Вашу почту письмо со ссылкой по которой Вы можете активировать аккаунт.</p>
			<h4 class="text-center">Предлагаем Вам</h4>
			<p class="notice text-center">ознакомиться с <a href="">демо-версией</a> системы</p>
			<p class="notice text-center">или продолжить <a href="">регистрацию</a></p>
			<div class="btn-wrapper center">
			</div>
		</div>
	</div>
</div>
